<a href="https://colab.research.google.com/github/olasonoso/MLpython/blob/master/Jupyter_Experiment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**OLa New Jupyter Experiment**

In [2]:
%time
#python code
print('Table of squares')
for i in range(10):
  print(f'{i} times {i} = {i*i}')

CPU times: user 3 µs, sys: 0 ns, total: 3 µs
Wall time: 5.01 µs
Table of squares
0 times 0 = 0
1 times 1 = 1
2 times 2 = 4
3 times 3 = 9
4 times 4 = 16
5 times 5 = 25
6 times 6 = 36
7 times 7 = 49
8 times 8 = 64
9 times 9 = 81